In [3]:
import pandas as pd
import numpy as np

In [4]:
df_train = pd.read_csv('../data/train.csv', header = 0, index_col = 'PassengerId')
df_test = pd.read_csv('../data/test.csv', header = 0, index_col = 'PassengerId')
df = pd.concat([df_train, df_test], keys=['train', 'test'], sort=False)

df['Title'] = df['Name'].apply(lambda c: c[c.index(',') + 2 : c.index('.')])
df['LastName'] = df['Name'].apply(lambda n: n[0:n.index(',')])
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

df.Embarked.fillna(df.Embarked.mode()[0], inplace=True)

In [5]:
df[df.Fare.isna()]

,,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,LastName,FamilySize
,PassengerId,,,,,,,,,,,,,,
test,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,Mr,Storey,1

In [6]:
df.loc['train'].groupby(['Pclass', 'Embarked']).Fare.mean()[3]['S']

14.64408300283288

In [7]:
df.Fare = df.groupby(['Pclass', 'Embarked']).Fare.apply(lambda x : x.fillna(x.loc['train'].mean()))#media del gruppo

In [8]:
df[df.Fare.isna()]

Empty DataFrame
Columns: [Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Title, LastName, FamilySize]
Index: []

In [9]:
df[df.Name == 'Storey, Mr. Thomas'].Fare

      PassengerId
test  1044           14.644083
Name: Fare, dtype: float64